@use '../base/variables'as *;
@use '../base/mixins'as *;

.header {
  background-color: var(--clr-brand-blue-xdark);
  color: var(--clr-white);
  padding: var(--gd-gutter-tablet);

  @include breakpoint(desktop) {
    padding: var(--gd-gutter-desktop);
  }
}

.header-content {
  max-width: var(--max-width-main);
  margin: 0 auto;

  @include breakpoint(desktop) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
