---
import Layout from '@layouts/Layout.astro';
import CaseStudy from '@pages/pages-sections/case-studies/case-study';
---

<Layout title="Case studies">
<section class="case-studies__wrapper">
  <div class="case-studies__content">

      <div class="case-studies__text">
          <h2 class="case-studies__title title-display-small"><span class="title-heading-1">See What We</span>Have Done with Other Projects</h2>
      </div>

      <CaseStudy />
      <CaseStudy />
      <CaseStudy />

      <button class="button-main case-studies__cta" type="button" >View More of Our Work</button>

  </div>
</section>
