@use 'variables'as *;
@use 'textstyles'as *;

%list-circle {
  *::selection {
    color: var(--list-selection-color);
    background: var(--list-selection-background);
  }
}

%list-circle__item {
  @include textstyle(body-large);
  display: block;
  position: relative;
  color: var(--list-color);
  padding-left: calc(var(--gd-gutter-tablet) + var(--gd-gutter-mobile));

  &:nth-child(n+2) {
    margin-top: var(--gd-gutter-tablet);
  }

  &::after {
    content: '';
    position: absolute;
    top: calc(var(--gd-unit) / 2);
    width: var(--gd-gutter-tablet);
    height: var(--gd-gutter-tablet);
    left: 0;
    border-color: var(--list-bullet-color);
    border-radius: var(--gd-gutter-tablet);
    border-style: solid;
    border-width: .25rem;
  }
}
