:root {
  //
  // Colors === clr
  --clr-brand-blue-xdark: 213 71% 13.5%; // #0A203B;
  --clr-brand-acqua: 172 100% 48%; // #00F5D3;
  --clr-brand-blue: 256 100% 46.7%; // #3E00EE;
  --clr-brand-magenta: 300 100% 72%; //#FF70FF;
  --clr-brand-purple: 281 97.1% 26.7%; //#5C0286;
  --clr-brand-yellow: 43 100% 50.6%; // #FFB803;
  --clr-white: 0 0% 100%; //  #FFFFFF;
  --clr-grey-light: 0 0% 95.7%; // #F4F4F4;
  --clr-black: 0 0% 0%; //#000000;
  //
  //
  // grid === gd
  --gd-unit: 8px;
  --gd-gutter-smallmobile: 12px;
  --gd-gutter-mobile: 16px;
  --gd-gutter-tablet: 24px;
  --gd-gutter-desktop: 32px;
  --gd-gutter-wide: 40px;
  --gd-gutter-xwide: 48px;
  --gd-gutter-large: 56px;
  --gd-gutter-xlarge: 64px;
  --gd-gutter-xxlarge: 72px;
  //
  //
  // Layout
  --max-width-main: 1210px;
  //
  //
  // Text-size styles
  //
  // font family === ff
  --ff-sans: 'Inter', sans-serif;
  //
  // font size === fs
  --fs-display-large: 104px;
  --fs-display: 96px;
  --fs-display-small: 72px;
  --fs-h1: 40px;
  --fs-h2: 32px;
  --fs-h3: 24px;
  --fs-h4: 20px;
  --fs-h5: 18px;
  --fs-h6: 14px;
  --fs-body: 16px;
  --fs-body-small: 14px;
  --fs-caption: 12px;
  //
  // line height === lh
  --ln-display-large: 112px;
  --ln-display: 104px;
  --ln-display-small: 80px;
  --ln-h1: 48px;
  --ln-h2: 30px;
  --ln-h3: 32px;
  --ln-h4: 28px;
  --ln-h5: 26px;
  --ln-h6: 22px;
  --ln-body: 24px;
  --ln-body-small: 22px;
  --ln-caption: 20px;
  //
  // font weight === fw
  --fw-black: 900;
  --fw-bold: 700;
  --fw-medium: 600;
  --fw-regular: 400;
  //
  //
  // Effect styles
  --homepage_cards: 0 40px 48px rgba(0, 0, 0, .32);
  --ease-time: .25s;
  --border-radius: var(--gd-gutter-tablet);

  @media (min-width: 992px) {
    --border-radius: var(--gd-gutter-desktop);
  }

  //
  //
  // Header height
  --header-height: 83px;

  @media (min-width: 992px) {
    --header-height: 120px;
  }

  //
  //
  // z-index's
  --z-index-header: 99;
  --z-index-common: 5;
  --z-index-negative: -1;
  --z-index-modal: 999;
}

//
//
// breakpoints
$breakpoints: ( // used in mixins
  desktop-xxxlarge: 1920px,
  desktop-xxlarge: 1680px,
  desktop-xlarge: 1440px,
  desktop-midlarge: 1280px,
  desktop-large: 1200px,
  desktop: 992px,
  tablet-large: 840px,
  tablet: 768px,
  tablet-small: 600px,
  mobile-small: 375px);
//
//
