:root {
  //
  //
  // Color styles
  --color_brand_blue_xdark: #0A203B;
  --color_brand_acqua: #00F5D3;
  --color_brand_blue: #3E00EE;
  --color_brand_magenta: #FF70FF;
  --color_brand_purple: #5C0286;
  --color_brand_yellow: #FFB803;
  --color_white: #FFFFFF;
  --color_grey_light: #F4F4F4;
  --color_black: #000000;
  //
  //
  // grid === gd
  --gr-unit: 8px;
  --gr-gutter-smallmobile: 12px;
  --gr-gutter-mobile: 16px;
  --gr-gutter-tablet: 24px;
  --gr-gutter-desktop: 32px;
  --gr-gutter-wide: 40px;
  --gr-gutter-xwide: 48px;
  --gr-gutter-large: 56px;
  --gr-gutter-xlarge: 64px;
  --gr-gutter-xxlarge: 72px;
  //
  //
  // Text-size styles
  //
  // font family === ff
  --ff-sans: 'Inter', sans-serif;
  //
  // font size === fs
  --fs-display: 96px;
  --fs-display-small: 72px;
  --fs-h1: 40px;
  --fs-h2: 32px;
  --fs-h3: 24px;
  --fs-h4: 20px;
  --fs-h5: 18px;
  --fs-h6: 14px;
  --fs-body: 16px;
  --fs-body-small: 14px;
  --fs-caption: 12px;
  //
  // line height === lh
  --ln-display: 104px;
  --ln-display-small: 80px;
  --ln-h1: 48px;
  --ln-h2: 30px;
  --ln-h3: 32px;
  --ln-h4: 28px;
  --ln-h5: 26px;
  --ln-h6: 22px;
  --ln-body: 24px;
  --ln-body-small: 22px;
  --ln-caption: 20px;
  //
  // font weight === fw
  --fw-black: 900;
  --fw-bold: 700;
  --fw-medium: 600;
  --fw-regular: 400;
  //
  //
  // Effect styles
  --homepage_cards: 0 40px 48px rgba(0, 0, 0, .24);
  //
  //
  // Screen Size === ss
  --ss-desktop-xxxlarge: 1920px;
  --ss-desktop-xxlarge: 1680px;
  --ss-desktop-xlarge: 1440px;
  --ss-desktop-midlarge: 1280px;
  --ss-desktop-large: 1200px;
  --ss-desktop: 992px;
  --ss-tablet-large: 840px;
  --ss-tablet: 768px;
  --ss-tablet-small: 600px;
  --ss-mobile-small: 375px;
}

//
//
// breakpoints
$breakpoints: ( // used in mixins
  desktop-xxxlarge: var(--ss-desktop-xxxlarge),
  desktop-xxlarge: var(--ss-desktop-xxlarge),
  desktop-xlarge: var(--ss-desktop-xlarge),
  desktop-midlarge: var(--ss-desktop-midlarge),
  desktop-large: var(--ss-desktop-large),
  desktop: var(--ss-desktop),
  tablet-large: var(--ss-tablet-large),
  tablet: var(--ss-tablet),
  tablet-small: var(--ss-tablet-small),
  mobile-small: var(--ss-mobile-small));
//
//
